body {
    background-color: rgb(180, 230, 240)

}

main {
    border: 2px solid transparent;
    background-color: white;
    color: black;
    box-shadow: 5px 10px 18px #888888;
}

#skeletonHeader {
    background-image: url(../img/graveParty.gif);
}

form {
    padding: 5px;
}